<div class="account-create">
    <div class="page-title">
    	<h1><?php echo $this->__('B2B Account created successfully') ?></h1>
    </div>
    <br>
    <h3><?php echo $this->__('Thank you.') ?></h3>
    <h4><?php echo $this->__('Your account need to be approved before you can use it.') ?></h4>
</div>
<script>
jQuery(document).ready(function($) {
	setTimeout(function() {
		location.href = '<?php echo Mage::helper("core/url")->getHomeUrl(); ?>';
	}, 3000);
});
</script>
