<div class="account-create">
    <div class="page-title">
    	<h1><?php echo $this->__('Create B2B Account') ?></h1>
    </div>
    <form action="<?php echo Mage::helper('b2b')->getPostActionUrl() ?>" method="post" id="b2b-register-form-validate">
    	<div class="fieldset">
    		<h2 class="legend"><?php echo $this->__('Personal Information') ?></h2>
    		<ul class="form-list">
    			<li class="fields">
    				<label for="first_name" class="required"><em>*</em><?php echo $this->__('First Name') ?></label>
    				<div class="input-box">
    					<input type="text" name="first_name" id="first_name" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('First Name')) ?>" class="input-text required-entry" />
    				</div>
    			</li>
    			<li class="fields">
    				<label for="middle_name"><?php echo $this->__('Middle Name/Initial') ?></label>
    				<div class="input-box">
    					<input type="text" name="middle_name" id="middle_name" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Middle Name/Initial')) ?>" class="input-text" />
    				</div>
    			</li>
    			<li class="fields">
    				<label for="last_name" class="required"><em>*</em><?php echo $this->__('Last Name') ?></label>
    				<div class="input-box">
    					<input type="text" name="last_name" id="last_name" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Last Name')) ?>" class="input-text required-entry" />
    				</div>
    			</li>
    			<li class="fields">
    				<label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
    				<div class="input-box">
    					<input type="text" name="email_address" id="email_address" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" class="input-text validate-email required-entry" />
    				</div>
    			</li>
    			<li class="fields">
    				<label for="company_name" class="required"><em>*</em><?php echo $this->__('Company Name') ?></label>
    				<div class="input-box">
    					<input type="text" name="company_name" id="company_name" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Company Name')) ?>" class="input-text required-entry" />
    				</div>
    			</li>
    			<li class="fields">
    				<div class="field">
                        <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <select id="country_id" name="country" class="required-entry">
                            	<option value=""><?php echo $this->__('Please select country') ?></option>
                            	<?php echo $this->getCountriesList() ?>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="region_id"><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                            <input type="text" id="region_id" name="region" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="input-text">
                        </div>
                    </div>
                </li>
                <li class="fields">
                	<div class="field">
                        <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" name="city" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('City')) ?>" class="input-text required-entry" id="city" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" name="postcode" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zip/Postal Code')) ?>" id="zip" class="input-text validate-zip-international required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="street" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="street" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Address')) ?>" id="street" class="input-text required-entry" />
                        </div>
                    </div>
                </li>
    		</ul>
    		<input type="hidden" name="default_billing" value="1" />
            <input type="hidden" name="default_shipping" value="1" />
    	</div>
    	<div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Login Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="password" id="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" class="input-text required-entry validate-password" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="confirmation" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm Password')) ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    	<div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Register')) ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
        </div>
    </form>
</div>
<script>
//<![CDATA[
new VarienForm('b2b-register-form-validate');
//]]>
</script>
